<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Inventory Homepage</title>
    <link rel="stylesheet"
          href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
          integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm"
          crossorigin="anonymous">
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
            integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
            crossorigin="anonymous"></script>
</head>
<body>
<div class="container text-center">
    <div>
        <h1>Welcome to Inventory App</h1>
    </div>
    <div class="p-2">
        <a class="h3" th:href="@{/categories}">List Categories</a>
    </div>
    <div class="p-2">
        <a class="h3" th:href="@{/categories/new}">Create New Category</a>
    </div>
    <div class="p-2">
        <a class="h3" th:href="@{/products}">List Products</a>
    </div>
    <div class="p-2">
        <a class="h3" th:href="@{/products/new}">Create New Product</a>
    </div>

</div>
</body>
</html>